<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

{% include 'ase/db/templates/js.html' %}
{% include 'ase/db/templates/style.html' %}
{% block head %}
{% endblock %}

<title>{% block title %}{% endblock %}</title>

  </head>

  <body {% block BodySettings %}{% endblock %}>

    <div class="container" style="padding: 0px;">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
              {% block navbar %} {% endblock %}

            </ul>
          </div>
        </nav>
      </div>
    </div> <!--end of container-->

{% block content %}
{% endblock %}

</body>
</html>
